<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="libs/bootstrap3.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/about-us.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container-fluid main-content-about-us main-content">
        <div class="row">
            <div class="col-md-12">
                <img class="cover-img-2 cover-about-us" src="imgs/about-us/1.jpg">
                <div class="about-us-nav col-md-12">
                    <ol class="nav-balls-2 text-center">
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#" class="active">ABOUT US</a></li>
                </ol>
                <h1 class="title-category text-center">ABOUT US</h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>