<!doctype html>
<html lang="en">
<head>
    <%- include("head.ejs"); %>
    <title>About Us</title>
</head>
<body>
    <section class="container-fluid main-content-about-us main-content">
        <div class="row">
            <div class="col-md-12">
                <img class="cover-img-2 cover-about-us" src="public/imgs/about-us/1.jpg">
                <div class="about-us-nav col-md-12">
                    <ol class="nav-balls-2 text-center">
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#" class="active">ABOUT US</a></li>
                </ol>
                <h1 class="title-category text-center">ABOUT US</h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>