<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wilson Sporting Goods</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalizer.css">
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
    <link rel="stylesheet" href="css/bootstrap_p.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/base-contact.css">
    <link rel="stylesheet" href="css/footer_min.css">
</head>
<body>
<%- include("header.ejs");%>
<div class="container-all">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list">
            <li class="breadcrumb-list-item">
                <a href="" class="home-link">HOMEPAGE</a>
            </li>
            <li class="breadcrumb-list-item">
                <a href="" class="contact-link" >CONTACT US</a>
            </li>
        </ul>
    </div>

    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-3">
                <div id="mapholder">

                </div>
            </div>

            <div class="grid__column-9">
                <div class="contact-content">
                    <div class="grid__row">

                        <div class="grid__column-12-1">

                            <div class="contact-content-header">
                                <h3>Contact us</h3>
                            </div>
                        </div>
                    </div>
                    <div class="grid__row">

                        <div class="grid__column-3-3">
                            <div class="contact-content-describe">
                                <h4>
                                    Headquarters:
                                </h4>
                                <p>
                                    EvoShield
                                    <br>
                                    1 Prudential Plaza
                                    <br>
                                    130 East Randolph Street, Suite 600
                                    <br>
                                    Chicago, IL 60601
                                </p>
                            </div>
                        </div>
                        <div class="grid__column-3-3">
                            <div class="contact-content-describe">
                                <h4>
                                    Hours of Operation:
                                </h4>
                                <p>
                                    Monday–Friday (9am–5pm CST)
                                </p>
                            </div>
                        </div>
                        <div class="grid__column-3-3">
                            <div class="contact-content-describe">
                                <h4>
                                    Customer Service:
                                </h4>
                                <p>
                                    Phone: 1-800-401-7919
                                    <br>
                                    Email Address:
                                    <a href="mailto:ntphu0112@gmail.com">ntphu0112@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid__row">

                        <div class="grid__column-12-1">

                            <div class="form-describe">
                                <hr>
                                <p>If you have any issues with your order or product, please fill out the form below. If you've already contacted us about this issue, please reference your case number.</p>
                                <p>Due to COVID-19 our processing times have been taking longer than normal. Our agents will respond as quickly as we can. We appreciate your patience during this time.</p>

                            </div>
                        </div>
                    </div>

                    <div class="grid__row">
                        <div class="grid__column-12-1">
                            <div class="contact-form">
                                <div class="require-form">
                                    Please fill all required fields. (*)
                                </div>
                                <form action="" id="form-1" class="flex-button">
                                    <div class="form-group">
                                        <label for="firstName">First name *</label>
                                        <input type="text" id="firstName" name="firstName" class="form-control">
                                        <span class="form-message"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName">Last name *</label>
                                        <input type="text" id="lastName" name="lastName" class="form-control">
                                        <span class="form-message"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" id="email" name="email" class="form-control">
                                        <span class="form-message"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Phone :</label>
                                        <input type="text" id="phone" name="phone" class="form-control">
                                        <span class="form-message"></span>
                                    </div>


                                    <div class="form-group">
                                        <label for="subject">Subject *</label>
                                        <input type="text" id="subject" name="subject" class="form-control">
                                        <span class="form-message"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Message *</label>
                                        <input type="text" id="message" name="message" class="form-control">
                                        <span class="form-message"></span>
                                    </div>
                                    <button type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bootom">
        <p>© 2021 Wilson Sporting Goods All rights reserved.</p>
    </div>


</div>

<!--Geolocation API-->
<script src="js/formValidation.js"></script>
<script>

    //Mong muốn  của chúng ta
    Validator({
        form:'#form-1',
        formGroupSelector:'.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#firstName','Please fill this field'),
            Validator.isRequired('#lastName','Please fill this field'),
            Validator.isEmail('#email','This fields must be email'),
            Validator.isRequired('#email','Please fill this field'),
            Validator.isRequired('#subject','Please fill this field'),
            Validator.isRequired('#message','Please fill this field'),
        ],
        onSubmit: function (data){
            //Call API
            console.log(data)
        }
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHCZ1jCe9H5p88Cv0-IOu83mSdeggqoNw"></script>

<script>


    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition,showError);
        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
    }

    function showPosition(position)
    {

        //Add the latitude and longtitude, đang để tự động định vị vị trí của người dùng
        // var lat=position.coords.latitude;
        // var lon=position.coords.longitude;
        // var latlon=new google.maps.LatLng(lat, lon)
        var latlon=new google.maps.LatLng(41.88465130652014,-87.62251163251261)
        var mapholder=document.getElementById('mapholder')
        mapholder.style.height='310px';
        mapholder.style.width='345px';

        var myOptions={
            center:latlon,zoom:14,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            mapTypeControl:false,
            navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
        };
        var map=new google.maps.Map(document.getElementById("mapholder"),myOptions);
        var marker=new google.maps.Marker({position:latlon,map:map,title:"Artist is here!"});
    }

    function showError(error)
    {
        switch(error.code)
        {
            case error.PERMISSION_DENIED:
                x.innerHTML="User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML="Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML="The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML="An unknown error occurred."
                break;
        }
    }
    getLocation();
</script>

</body>
</html>
