<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maker of the world's finest bats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalizer.css">
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
    <link rel="stylesheet" href="css/bootstrap_p.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {display:none;}
    </style>
    <link rel="stylesheet" href="css/base-Demarini.css">
    <link rel="stylesheet" href="css/Demarini.css">
</head>
<body>
<%- include("header_demarini.ejs");%>
<div class="container-all">

    <div class="slider-img">
        <img class="mySlides" src="imgs/img_phu/FP_Prism_Homepage_Banner_1_1920x430.jpg">
        <img class="mySlides" src="imgs/img_phu/FP_Prism_Homepage_Banner_2_1920x430.jpg">
        <img class="mySlides" src="imgs/img_phu/FP_Prism_Homepage_Banner_3_1920x430.jpg">
        <div class="slider-img-text">
            <h1 class="slider-img-text-header">
                A level above
            </h1>
            <p class="slider-img-text-describe">
                Make Your Name with the 2021 DeMarini Prism+
            </p>
            <a href="http://localhost:5000/aluminum-composite" class="slider-img-text-link">
                <p>Shop now</p>
            </a>
        </div>
    </div>
    <div class="shop-img">
        <div class="shop-product-img">
            <a href="http://localhost:5000/aluminum-composite" class="shop-product-img-link">
                <img src="imgs/img_phu/255441_DM_2021_FP_Sport_Selection_BB_680x480.jpg" alt="" class="shop-product-img-describe">
                <span class="button-link">
                    Shop Baseball
                    <i class="fas fa-chevron-right icon-active"></i>
                </span>
            </a>
        </div>
        <div class="shop-product-img">
            <a href="http://localhost:5000/aluminum-composite" class="shop-product-img-link">
                <img src="imgs/img_phu/255440_DM_2021_FP_Sport_Selection_FP_680x480.jpg" alt="" class="shop-product-img-describe">
                <span class="button-link">
                    Shop Fastpitch
                    <i class="fas fa-chevron-right icon-active"></i>
                </span>

            </a>
        </div>
        <div class="shop-product-img">
            <a href="http://localhost:5000/aluminum-composite" class="shop-product-img-link">
                <img src="imgs/img_phu/255439_DM_2021_FP_Sport_Selection_SP_680x480.jpg" alt="" class="shop-product-img-describe">
                <span class="button-link">
                    Shop Slowpitch
                    <i class="fas fa-chevron-right icon-active"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="hitter-hits">
        <img src="imgs/img_phu/DM_2021_BB_BBCOR_Web_Lineup_NoText_1920x630_V5.jpg" alt="" class="hitter-hits-img">
        <div class="hitter-hits-text">
            <h1 class="hitter-hits-text-header">
                Hitters hit
            </h1>
            <p class="hitter-hits-text-describe">
                Shop the 2021 BBCOR Bat Lineup
            </p>
            <a href="http://localhost:5000/aluminum-composite" class="hitter-hits-text-link">
                <p>Shop now</p>
            </a>
        </div>
    </div>
    <div class="trade-shop-img">
        <div class="trade-shop-item-img">
            <a href="http://localhost:5000/aluminum-composite" class="trade-shop-item-img-link">
                <img src="imgs/img_phu/legend%20status.jpg" alt="" class="shop-product-img-describe">
                <div class="trade-shop-item-text">
                    <h1 class="trade-shop-item-text-header">
                        Legend status
                    </h1>
                    <span class="trade-shop-item-button-link-1">
                        Shop CF
                        <i class="fas fa-chevron-right icon-active"></i>
                    </span>
                </div>
            </a>
        </div>
        <div class="trade-shop-item-img">
            <a href="http://localhost:5000/aluminum-composite" class="trade-shop-item-img-link">
                <img src="imgs/img_phu/take%20flight.jpg" alt="" class="shop-product-img-describe">
                <div class="trade-shop-item-text">
                    <h1 class="trade-shop-item-text-header">
                        take flight
                    </h1>
                    <span class="trade-shop-item-button-link-2">
                        Shop FNX
                        <i class="fas fa-chevron-right icon-active"></i>
                    </span>
                </div>

            </a>
        </div>
        <div class="trade-shop-item-img">
            <a href="#" class="trade-shop-item-img-link">
                <img src="imgs/img_phu/trade.jpg" alt="" class="shop-product-img-describe">
                <div class="trade-shop-item-text">
                    <h1 class="trade-shop-item-text-header">
                        Trade in and trade up
                    </h1>
                    <span class="trade-shop-item-button-link-3">
                        Learn more
                        <i class="fas fa-chevron-right icon-active"></i>
                    </span>
                </div>
            </a>
        </div>

    </div>
    <div class="demarini-material">
        <img src="imgs/img_phu/DM_D-Lab_1920x430.jpg" alt="" class="demarini-material-img">
        <a href="" class="demarini-material-button">
            <p>Enter D-Lab</p>
        </a>
    </div>

    <!--Sign in last-->
    <div class="sign-in-last">
        <div class="sign-in-last-container">
            <div class="sign-in-last-text">
                <h1>SIGN UP FOR EXCLUSIVE SALE & NEWS</h1>
            </div>
            <div class="sign-up-form">
                <form class="input-form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                    </div>
                    <button type="submit" class="btn btn-danger sign-up-button">SIGN UP</button>
                </form>

            </div>
        </div>
    </div>
</div>
<%- include("footer.ejs");%>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 1000); // Change image every 1 seconds
    }
</script>

</body>
</html>