<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
    <link rel="stylesheet" href="libs/bootstrap3.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
</head>
<body>
<footer class="footer footerLoan">
    <div class="container-fluid">
        <div class="row footer_top">
            <div class="footer_logo">
                <div class="footer_logo-logo"> <img src="imgs/img_luong/wilson_w.svg" href="#"> </div>
            </div>
            <div class="footer_follow ">
                <div class="footer_follow-follows-us">
                    <P>FOLLOW US</P>
                </div>
                <div class="follow_link_social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a> </li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a> </li>
                        <li><a href="#"><i class="fab fa-instagram-square"></i></a> </li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a> </li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a> </li>
                    </ul>
                    <div>
                        <ul >
                            <li><a href="#" >Baseball</a> </li>
                            <li><a href="#">Golf</a> </li>
                            <li><a href="#">Basketball</a> </li>
                            <li><a href="#">Tennis</a> </li>
                            <li><a href="#">Football</a> </li>
                            <li><a href="#">Running</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <ul>
                    <li><a href="#"><i class="fas fa-undo"></i>RETURN</a> </li>
                    <li><a href="#"><i class="fas fa-star"></i>LIMITED WARRANTY</a> </li>
                    <li><a href="#"><i class="fab fa-first-order"></i>ORDER STATUS</a> </li>
                </ul>
            </div>
        </div>

        <div class="footer_branch">

            <p>WILSON FAMILY OF BRANDS</p>
            <div class="footer_branch-branch">
                <div class="branch_iterm img-Atec">
                    <div class="img"><a href="#"><img src="imgs/img_luong/ATEC-Primary-Logo.svg" alt="Atec"></a> </div>
                </div>

                <div class="branch_iterm img-evoshield">
                    <div class="img"><a href="#"><img src="imgs/img_luong/evoshield_vert_bl.svg" alt="evoshield"></a> </div>
                </div>

                <div class="branch_iterm img-luxilon">
                    <div class="img"><a href="#"><img src="imgs/img_luong/Luxilon_sub_fob.svg" alt="luxilon"></a> </div>
                </div>
                <div class="branch_iterm img-Louisville">
                    <div class="img "><a href="#"><img src="imgs/img_luong/Louisville.svg" alt="Louisville"></a> </div>
                </div>
                <div class="branch_iterm img-demarini">
                    <div class="img"><a href="#"><img src="imgs/img_luong/demarini_fob.svg" alt="demarini"></a> </div>
                </div>
            </div>
        </div>
        <div class="footer_boottom">
            <p>© 2021 Wilson Sporting Goods All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>