<!doctype html>
<html lang="en">
<head>

    <title>Gloves</title>
    <link rel="stylesheet" href="libs/bootstrap3.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
    <link rel="stylesheet" href="libs/Novi.slider/nivo-slider.css">
    <link rel="stylesheet" href="libs/Novi.slider/themes/default/default.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/aluminum-composite.css">
    <link rel="stylesheet" href="css/gloves.css">
</head>
<body>
<%- include("header.ejs");%>
<section class="main-content">
    <div class="row">
        <div class="col-md-12 nav-menu">
            <img class="cover-img" src="imgs/img_luong/grid-banner-basketball.jpg">
            <p style="margin:20px; font-size: 18px"><a href="">HOME</a> | <a href="">BASEBALL</a> | GLOVES</p>

            <h1 class="title-category">GLOVES</h1>
        </div>
    </div>
</section>
<section class="container-fluid main-content">
    <div class="row">
        <div class="col-md-3">
            <div class="fixed-filter-bar">
                <h2 class="shopping-by">Shopping by:</h2>
                <hr>
                <div class="sliding category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Category</p>
                    <span class="glyphicon-plus icons sliding"></span>
                </div>
                <div class="">
                    <ul class="category-filter" style="">
                        <li style="font-weight: bold; text-decoration: underline">Basketballs(46)</li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Certification</p>
                    <span class="glyphicon-plus icons sliding"></span>
                    <ul class="category-list-light" style="">
                        <li><label class="check-container">1.15 BPF(1)
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">BBCOR(12)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">USA Baseball(9)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">USSSA(8)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Series</p>
                    <span class="glyphicon-plus icons sliding"></span>
                    <ul class="category-list-light start-hidden" style="">
                        <li><label class="check-container">Meta(9)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">Prime(2)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">Omaha(5)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">Select(6)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">Solo(9)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">Vapor(2)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Weight Drop</p>
                    <span class="glyphicon-plus icons sliding"></span>
                    <ul class="category-list-light start-hidden" style="">
                        <li><label class="check-container">-3(12)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">-5(3)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">-8(3)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">-9(1)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">-10(8)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">-11(2)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">-12.5(20)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Barrel Diameter</p>
                    <span class="glyphicon-plus icons sliding"></span>
                    <ul class="category-list-light start-hidden" style="">
                        <li><label class="check-container">2 1/4 Inches(2)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">2 1/2 Inches(1)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">2 5/8 Inches(22)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">2 3/4 Inches(7)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Barrel Material</p>
                    <span class="glyphicon-plus icons sliding"></span>
                    <ul class="category-list-light start-hidden" style="">
                        <li><label class="check-container">Alloy(21)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li><label class="check-container">Composite(11)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="sliding category-icon dropdown-custom">
                    <p class="category-list dropdown-custom">Collection</p>
                    <span class="glyphicon-plus icons category-filter sliding"></span>
                    <ul class="category-list-light start-hidden" style="">
                        <li><label class="check-container">2021 Baseball Bats(13)
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 product-row">
            <div class="row">
                <div class="col-md-3 box-product">
                    <a href="http://localhost:5000/product-detail?prodcode=1234567891"><img src="imgs/img_loan/taycam7.jpeg"></a>
                    <p class="product-name"><a href="#">2021 A2K OA1 GM 11.5" Infield Baseball Glove</a></p>
                    <p class="price">$220</p>

                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>

                </div>
                <div class="col-md-3 box-product">
                    <a href="http://localhost:5000/product-detail?prodcode=1234567890"><img src="imgs/img_loan/taycamb1.jpeg"></a>
                    <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                    <p class="price">$349.9</p>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="col-md-3 box-promotion">
                    <a href="#"><img src="imgs/img_luong/gloves_promotion.png"></a>
                    <div class="box-promotion-btn"> <a href="#">CUSTOMIZE NOW</a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 box-product">
                    <a href="http://localhost:5000/product-detail?prodcode=1234567891"><img src="imgs/img_loan/taycamc2.jpeg"></a>
                    <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                    <p class="price">$349.9</p>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="col-md-3 box-product">
                    <a href="http://localhost:5000/product-detail?prodcode=1234567890"><img src="imgs/gloves/gloves3.jpg"></a>
                    <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                    <p class="price">$349.9</p>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="col-md-3 box-product">
                    <a href="http://localhost:5000/product-detail?prodcode=1234567891"><img src="imgs//gloves/gloves4.jpg"></a>
                    <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                    <p class="price">$349.9</p>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star checked"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>

            </div>


            <div class="col-md-3 box-product">
                <a href="http://localhost:5000/product-detail?prodcode=1234567890"><img src="imgs//gloves/gloves5.jpg"></a>
                <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                <p class="price">$349.9</p>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 box-product">
                <a href="http://localhost:5000/product-detail?prodcode=1234567891"><img src="imgs/gloves/gloves6.jpg"></a>
                <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                <p class="price">$349.9</p>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 box-product">
                <a href="http://localhost:5000/product-detail?prodcode=1234567890"><img src="imgs/gloves/gloves7.jpg"></a>
                <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                <p class="price">$349.9</p>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 box-product">
                <a href="http://localhost:5000/product-detail?prodcode=1234567891"><img src="imgs/gloves/gloves8.jpg"></a>
                <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                <p class="price">$349.9</p>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 box-product">
                <a href="http://localhost:5000/product-detail?prodcode=1234567890"><img src="imgs/gloves/gloves9.jpg"></a>
                <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                <p class="price">$349.9</p>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 box-product">
                <a href="http://localhost:5000/product-detail?prodcode=1234567891"><img src="imgs/gloves/gloves3.jpg"></a>
                <a href="#"><p class="product-name">2021 A2K OA1 GM 11.5" Infield Baseball Glove</p></a>
                <p class="price">$349.9</p>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star checked"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs");%>

<script type="text/javascript">
    $('.sliding').click(function () {
        $(this).next().slideToggle(600);
    })
</script>
</body>
</html>