<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <%- include("head.ejs");%>
    <link rel="stylesheet" href="libs/bootstrap3.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
    <link rel="stylesheet" href="libs/Novi.slider/nivo-slider.css">
    <link rel="stylesheet" href="libs/Novi.slider/themes/default/default.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<%- include("header.ejs");%>
<%- include("pop-up_sign-in.ejs");%>
<section class=" section main">
    <div class="slider">
        <div id="wrapper">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="imgs/img_luong/home-slider1.jpg" data-thumb="images/toystory.jpg" alt="" />
                    <img src="imgs/img_luong/home-slider2.jpg" data-thumb="images/up.jpg" alt=""  />
                    <img src="imgs/img_luong/home-slider3.jpg" data-thumb="images/walle.jpg" alt="" data-transition="slideInLeft" />
                    <img src="imgs/img_luong/home-slider4.jpg"data-thumb="images/nemo.jpg" alt=""  />
                </div>
            </div>
        </div>
    </div>
    <div class="bestseller container-fluid">

        <p>Best Seller</p>
        <div class="bestseller_btn">
            <div class="bestseller_btn-btn" onclick="Show_LATEST_PRODUCTS()">
               LATEST PRODUCTS
            </div>
            <div class="bestseller_btn-btn" onclick="Show_TOP_RATING()">
                TOP RATING
            </div>
            <div class="bestseller_btn-btn" onclick="Show_BEST_SELLERS()">
                BEST SELLERS
            </div>
        </div>
        <div class="bestseller_product LATEST_PRODUCTS">
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/lot_ong_dong.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">The MLB Prime Signature Series</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product1.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">SENIOR LEAGUE BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_21.jpg" alt="product"></a>
                <div class="entry">
                    <p class="fa-audio-description">FASTPITCH INFIELD GLOVES</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star color-yelow"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_3.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">SLOWPITCH STICK PACKS</p>
                    <p class="product-price">price: 35$</p>
                    <p class="product-rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_7.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">The MLB Prime Signature Series</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_4..jpg" alt="product"></a>
                <div class="entry">
                    <p class="">SENIOR LEAGUE BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_5.jpeg" alt="product"></a>
                <div class="entry">
                    <p class="">SLOWPITCH STICK PACKS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_6.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">FASTPITCH INFIELD GLOVES</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>

        </div>
        <div class="bestseller_product TOP_RATING">
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_11.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">YOUTH / USA BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">http://localhost:5000/aluminum-compositehttp://localhost:5000/gloves
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_12.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">Personalized Houston Astros Two-Toned Baseball Bat</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/lot_ong_dong.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">Arizona Diamondbacks 18" Mini Bat</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star color-yelow"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_3.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">SENIOR LEAGUE BASEBALL BATS</p>
                    <p class="product-price">price: 35$</p>
                    <p class="product-rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_21.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">FASTPITCH INFIELD GLOVES</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
               <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_15.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">YOUTH / USA BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-compositehttp://localhost:5000/gloves"><img src="imgs/img_luong/product_7.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">SLOWPITCH STICK PACKS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-compositehttp://localhost:5000/gloves"><img src="imgs/img_luong/product1.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">Personalized Houston Astros Two-Toned Baseball Bat</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>

        </div>
        <div class="bestseller_product BEST_SELLERS">
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_21.jpg" alt="product"></a>
                <div class="entry">
                    <p class="">SENIOR LEAGUE BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_5.jpeg" alt="product"></a>
                <div class="entry">
                    <p class="f">Arizona Diamondbacks 18" Mini Bat</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-compositehttp://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_12.jpg" alt="product"></a>
                <div class="entry">
                    <p >YOUTH / USA BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star color-yelow"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-compositehttp://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_7.jpg" alt="product"></a>
                <div class="entry">
                    <p >Personalized Houston Astros Two-Toned Baseball Bat</p>
                    <p class="product-price">price: 35$</p>
                    <p class="product-rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_14.jpg" alt="product"></a>
                <div class="entry">
                    <p class="fa-tion">FASTPITCH INFIELD GLOVES</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/gloves"><img src="imgs/img_luong/product_21.jpg" alt="product"></a>
                <div class="entry">
                    <p class="fa-tion">SLOWPITCH STICK PACKS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_10.jpg" alt="product"></a>
                <div class="entry">
                    <p class="faption">SENIOR LEAGUE BASEBALL BATS</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>
            <div class="bestseller_product-product">
                <a href="http://localhost:5000/aluminum-composite"><img src="imgs/img_luong/product_8.jpg" alt="product"></a>
                <div class="entry">
                    <p class="fation">FASTPITCH INFIELD GLOVES</p>
                    <p class="product_price">price: 35$</p>
                    <p class="product_rating color-yelow"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> <i class="fas fa-star"></i></p>
                </div>
            </div>

        </div>

    </div>

    <div class="deals container-fluid">
        <div class="row container-fluid">

            <div class="deals_event deals_img">
                <div class="deals_img_column deals_img_column-left">

                </div>
                <div class="deals_img_column deals_img_column-right">
                    <div class="deals_img_row deals_img_row-up"></div>
                    <div class="deals_img_row deals_img_row-low"></div>
                </div>
            </div>
            <div class="deals_event deals_time">
                <img src="imgs/img_luong/deals.PNG">
                <div>
                    <p>Brahmin Hutchinson</p>
                    <ul>
                        <li>20</li>
                        <li>04</li>
                        <li class="bgcolor_none" style="font-size: 16px; padding-top: 20px;">TO</li>
                        <li>01</li>
                        <li>06</li>
                    </ul>
                    <p class="shop_now-btn">Shop Now</p>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="support">
                <div><img src="imgs/img_luong/Capture1.PNG" alt="">
                    <p>Free Shipping</p>
                    <p>Capped at $39 per order</p>
                </div>
                <div><img src="imgs/img_luong/Capture2.PNG" alt="">
                    <p>Securety Payments</p>
                    <p>Up to 12 months installments

                </div>
                <div><img src="imgs/img_luong/Capture3.PNG" alt="">
                    <p>14-Day Returns</p>
                    <p>Shop with confidence</p>
                </div>
                <div><img src="imgs/img_luong/Capture4.PNG" alt="">
                    <p>24/7 Support</p>
                    <p>Delivered to your door</p>
                </div>
            </div>
        </div>

    </div>


</section>


<%- include("footer.ejs");%>


<script src="libs/jquery/jquery-3.5.1.min.js"></script>
<script src="libs/bootstrap3.4.1/js/bootstrap.js"></script>
<script src="libs/owlcarosel/owl.carousel.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="libs/Novi.slider/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="libs/Novi.slider/jquery.nivo.slider.js"></script>



<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });


    $(".TOP_RATING").hide();
    $(".BEST_SELLERS").hide();
    function Show_LATEST_PRODUCTS(){
        var LATEST_PRODUCTS = $(".LATEST_PRODUCTS");
        var TOP_RATING = $(".TOP_RATING");
        var BEST_SELLERS = $(".BEST_SELLERS");
        LATEST_PRODUCTS.show();
        TOP_RATING.hide();
        BEST_SELLERS.hide();
    }
    function Show_TOP_RATING(){
        var LATEST_PRODUCTS = $(".LATEST_PRODUCTS");
        var TOP_RATING = $(".TOP_RATING");
        var BEST_SELLERS = $(".BEST_SELLERS");
        LATEST_PRODUCTS.hide();
        TOP_RATING.show();
        BEST_SELLERS.hide();
    }
    function Show_BEST_SELLERS(){
        var LATEST_PRODUCTS = $(".LATEST_PRODUCTS");
        var TOP_RATING = $(".TOP_RATING");
        var BEST_SELLERS = $(".BEST_SELLERS");
        LATEST_PRODUCTS.hide();
        TOP_RATING.hide();
        BEST_SELLERS.show();
    }


</script>

</body>
</html>