
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="libs/bootstrap3.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
    <link rel="stylesheet" href="libs/Novi.slider/nivo-slider.css">
    <link rel="stylesheet" href="libs/Novi.slider/themes/default/default.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/register.css">


</head>
<body>
<div class="row header_branch">
    <div class="header_branch-branch">
        <div class="branch_iterm logo">
            <div class="img-logo"><a href="#" ><img src="imgs/img_luong/wilson_w.svg" alt="wilson"></a></div>
        </div>
        <div class="branch_iterm img-Louisville">
            <div class="img "><a href="http://localhost:5000/louisville#"><img src="imgs/img_luong/Louisville.svg" alt="Louisville"></a> </div>
        </div>
        <div class="branch_iterm img-Atec">
            <div class="img"><a href="#"><img src="imgs/img_luong/ATEC-Primary-Logo.svg" alt="Atec"></a> </div>
        </div>
        <div class="branch_iterm img-demarini">
            <div class="img"><a href="http://localhost:5000/demarini"><img src="imgs/img_luong/demarini_fob.svg" alt="demarini"></a> </div>
        </div>
        <div class="branch_iterm img-evoshield">
            <div class="img"><a href="#"><img src="imgs/img_luong/evoshield-fob.svg" alt="evoshield"></a> </div>
        </div>
        <div class="branch_iterm img-luxilon">
            <div class="img"><a href="#"><img src="imgs/img_luong/Luxilon_sub_fob.svg" alt="luxilon"></a> </div>
        </div>
    </div>
</div>
<div class="register ">
    <div class="sign_in">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="font-size-18">REGISTER WITH YOUR EXISTING ACCOUNT</p>
                    <div class="sign_in-facebook sign_in-link">
                        <div class="sign_in-img">
                            <img src="imgs/img_luong/Capturefacebook.PNG">
                        </div>
                        <p>SIGN IN WITH FACEBOOK</p>

                    </div>
                    <div class="sign_in-google sign_in-link">
                        <div class="sign_in-img">
                            <img src="imgs/img_luong/Capturegoogle.PNG">
                        </div>
                        <p>SIGN IN WITH GOOGLE</p>
                    </div>
                </div>
            </div>




            <div class="form_register col-md-6 col-md-offset-3">
                <form action="" method="POST" class="form" id="form-1">
                    <h1 class="heading">REGISTRATION</h1>

                    <div class="spacer"></div>

                    <div class="form-group">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input id="fullname" name="fullname" type="text" required placeholder="VD: Anabella" class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" name="email" type="email" required placeholder="VD: email@domain.com" class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" name="password" type="password" required placeholder="Password" class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <div class="form-group"><div class="footer_bootom">
                            <p>© 2021 Wilson Sporting Goods All rights reserved.</p>
                        </div>


                        <label for="password_confirmation" class="form-label">Conform password</label>
                        <input id="password_confirmation" name="password_confirmation" required placeholder="Conform password" type="password" class="form-control">
                        <span class="form-message"></span>
                    </div>

                    <button class="form-submit" type="submit">Register</button>
                </form>
            </div>


        </div>
    </div>
</div>
</div>
</div>


</body>
</html>
