<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign_in</title>
    <link rel="stylesheet" href="libs/bootstrap3.4.1/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/sign_in.css">
    <link rel="stylesheet" href="css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="libs/fontaw5.15.1/css/all.css">
    <link rel="stylesheet" href="libs/Novi.slider/nivo-slider.css">
    <link rel="stylesheet" href="libs/Novi.slider/themes/default/default.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/header_min.css">


</head>
<body>
<%- include("header_min.ejs");%>
<div class="sign_in">
    <div class="container ">
        <div class="row">
            <div class="col-md-5 col-md-offset-0">
                <p class="font-size-18">SIGN IN WITH YOUR EXISTING ACCOUNT</p>
                <div class="sign_in-facebook sign_in-link">
                    <div class="sign_in-img">
                        <img src="imgs/img_luong/Capturefacebook.PNG">
                    </div>
                    <p>SIGN IN WITH FACEBOOK</p>

                </div>
                <div class="sign_in-google sign_in-link">
                    <div class="sign_in-img">
                        <img src="imgs/img_luong/Capturegoogle.PNG">
                    </div>
                    <p>SIGN IN WITH GOOGLE</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form_sign-in col-md-5">
                <form action="#" method="post" class="form" id="form_sign-in">

                    <p class="font-size-18">RETURNING CUSTOMERS</p>
                    <p>Sign in to your account</p>
                    <div class="form-group margin-bottom-40">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email" name="email" type="email"  required placeholder="EXP: email@domain.com" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group margin-bottom-40">
                        <label for="password" class="form-label">password:</label>
                        <input id="password" name="password" type="password" required placeholder="password" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <p><a href="#">Forgot Your Password?</a></p>
                    <button type="submit" >LOGIN</button>

                </form>
            </div>
            <div class="col-md-5 register">
                <p class="font-size-18">NEW CUSTOMER?</p>
                <p>Create a new account.</p>
                <ul>

                    <li>Fast and easy check out</li>
                    <li>Access order status and history</li>
                </ul>
                <form>
                    <button type="submit"><a href="https://wilson-eproject.herokuapp.com/register">REGISTER</a> </button>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="footer_bootom">
    <p>© 2021 Wilson Sporting Goods All rights reserved.</p>
</div>


</body>
</html>