:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Animation */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*Responsive*/
.grid{
    width: 1450px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/*Test*/
.grid__column-12{
    padding-left: 12px;
    padding-right: 12px;
    width:100% ;
}

.grid__column-5{
    padding-left: 12px;
    padding-right: 12px;
    width:41.666666% ;
}

.grid__column-4{
    padding-left: 12px;
    padding-right: 12px;
    width:33.33333% ;
}

.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width:16.666666% ;
}

.grid__column-3{
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.grid__column-3-3{
    padding-left: 12px;
    padding-right: 12px;
    width:33.33333% ;
}

.grid__column-12-1{
    padding-left: 12px;
    padding-right: 12px;
    width:100% ;
}

.grid__column-9{
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
}